/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/dummy/log/
/spec/dummy/tmp/
/spec/dummy/node_modules/
/spec/dummy/vendor/

/vendor/bundle/
/tmp/
*.gem
.DS_Store
node_modules/
.env

Users/elisoncampos/Development/Pessoal/reactive_views/spec/internal/log/test.log
spec/dummy/public/vite/
