# ReactiveViews SSR Server - Kubernetes Namespace
# Only needed if using a custom namespace
apiVersion: v1
kind: Namespace
metadata:
  name: <%= options[:namespace] %>
  labels:
    app.kubernetes.io/name: reactive-views
    app.kubernetes.io/component: ssr


