export default function UsersPage({users}: {users: any[]}){

  console.log(users);
  return <div>
    <h1>Users</h1>
    <div className="flex flex-col gap-2">
      {users.map((user) => (
        <div key={user.id} className="border-b border-gray-200 p-2 hover:bg-gray-100">
          <h2 className="text-lg font-bold">{user.name}</h2>
          <p className="text-sm text-gray-500">{user.email}</p>
        </div>
      ))}
    </div>
  </div>;
}

